<div id="<%= dom_id post %>">
  <p>
    <strong>Subject:</strong>
    <%= post.subject %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= post.body %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= post.status %>
  </p>

  <p>
    <strong>User:</strong>
    <%= post.user_id_id %>
  </p>

</div>
